{{log products}}
<div>
    <h1>{{Title}}</h1>
    <ul>
        {{#each products}}
        <li>
            <div class="datos">
                <h2>{{title}}</h2>
                <div class="descripcion-productos">
                    <p>Description: {{this.description}}</p>
                    <p>Category: {{this.category}}</p>
                </div>
                <div class="precios-products">
                    <p>Price: {{this.price}}</p>
                    <p>Stock: {{this.stock}}</p>
                </div>
                <div id="addToCart">
                    <button class="boton">Agregar al carrito</button>
                </div>
            </div>
            <img src={{this.thumbnail}}>
        </li>
        {{/each}}
        {{#if hasPrevPage}}
            <a href="/?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Siguiente</button></a>
        {{/if}}
    </ul>
</div>
<script src="/js/products.js"></script>