{{log products}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bodySignup">
    <div>
        <div class="encabezadoTitulo">
            <h1 class="tituloRealtime">Vape Empire</h1>
            <h2 class="subtituloRealtime">Todos nuestros productos en venta</h2>
        </div>
        <div class="botonChat">
            <button class="formaBoton"><a href="http://localhost:8080/chat">📩</a></a></button>
            <p class="subtituloChat">CHAT</p>
        </div>
        
    <form id="productForm" method="POST" action="/realTimeProducts">
    <ul>
        {{#each products}}
            <div class="productList">
                <div class="divImage">
                    <img class="productImg" src={{this.thumbnail}} />
                </div>
                <div class="tarjetaProducto">
                    <h3>{{this.name}}</h3>
                    <p class="tituloTarjeta">{{this.title}}</p>
                    <p class="subtituloTarjeta">{{this.description}}</p>
                    <p class="precioTarjeta">PRECIO: ${{this.price}}</p>
                    <button class="agregarCarrito">Agregar al carrito</button>
                </div>
            </div>
        {{/each}}
    </ul>
</div>
</body>
</html>
    
<script src="/js/index.js"></script>
<script src="/js/realTimeProducts.js"></script>
<script src="/js/products.js"></script>





